/* 576 */
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

/* 768 */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

/* 992 */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 960px;
    }

    .container .row .form {
        background-image:
            linear-gradient(rgba(255, 255, 255, 0.8) 0%,
                rgba(255, 255, 255, 0.8) 100%, transparent 50%),
            url("../../../form.jpg");
    }

    .container .row .form .custom-form {
        width: 125%;
    }

    .form-custom input {
        width: 100%;
    }
}

/* 1200 */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* 1400 */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}