/* Global Roles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif !important;
    background-color: snow;
}

.f-cairo {
    font-family: "Cairo", sans-serif !important;
}

.low-shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
}

.container {
    margin: 0 auto;
}

.h-100 {
    height: 100vh;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .col-12 {
    width: 100%;
}

.row .col-6 {
    width: 50%;
}